@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Font Family */
  --overpass: "Overpass", sans-serif;

  /* ### Primary */

  --Orange: hsl(25, 97%, 53%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  --Clr-Border: hsl(213, 19%, 25%);
}

body {
  font-size: 15px;
  font-family: var(--overpass);
  background-color: var(--Very-Dark-Blue);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--Dark-Blue);
}

.card img {
  width: 30px;
  border-radius: 50%;
  background-color: var(--Clr-Border);
  padding: 8px;
}

.card-description h1 {
  color: var(--White);
}

.card-description p {
  color: var(--Light-Grey);
  line-height: 1.5;
}

.card-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.opt {
  color: var(--White);
  background: var(--Clr-Border);
  transition: 1s;
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
}

.opt:hover {
  background-color: var(--Medium-Grey);
 
}


.opt:active {
  background-color: var(--Orange);
  transition: 0.1s;
}


.card img,
.card-description h1,
.card-description p,
.opt {
  margin-bottom: 20px;
}

.btn {
  color: var(--White);
  background-color: var(--Orange);
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  padding: 15px;
  letter-spacing: 3px;
}

.btn:hover {
  color: var(--Orange);
  background-color: var(--White);
  transition: 1s;
}

/* MOBILE */
@media screen and (min-width: 375px) {
  .card {
    width: 360px;
    padding: 30px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
